<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="text">
      <input type="text" name="text" [(ngModel)]="text" id="text" placeholder="Enter task" />
    </label>
  </div>
  <div class="form-group">
    <label for="day"></label>
    <input type="text" name="day" [(ngModel)]="day" id="day" placeholder="Enter the date" />
  </div>
  <div class="form-group">
    <label for="reminder">
      <input type="checkbox" name="reminder" [(ngModel)]="reminder" id="reminder" />
    </label>
  </div>
  <div class="form-group">
    <input type="submit" value="Save task" />
  </div>
</form>